#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.toastMessage{
  display: flex;
  margin: auto;
  justify-content: space-between;
  gap: 10em;
  width: 60%;
  background-color: aquamarine;
  color: black;
  padding: 0 2em;
  
  p{
    margin-left: 150px;
  }
}

.dismissed{
  display: none;
}

button{
  background-color: aquamarine;
  color: black;
  padding: 1em 1em;
}